body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    align-items: center;
}

main {
    background-color: #98ff98;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    row-gap: 2%;
}

.bgimage {
    background-image: url(water.jpeg);
}



nav {
    background-color: #98ff98;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
}
a:hover {
    color: beige;
}

h1 {
    padding: 10px;
}

table, th, td {
    border-style: solid;
}

section {
    display: fill;
    background-color: orange;
    padding: 1%;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
}

.SolBor {
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    padding: 3px;
}

.logo {
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    background-color: #98ff98;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
}

.container div {
    display: fill;
    background-color: orange;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
}

.navcontainer {
    width: 100%;
    display: flex;
    background-color: #98ff98;
    border-radius: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navcontainer div {
    display: fill;
    background-color: orange;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
}

footer {
    background-color: #98ff98;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.footercontainer {
    display: flex;
    background-color: #98ff98;
    border-radius: 5px;
}

.footercontainer div {
    display: fill;
    background-color: orange;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.nogap {
    padding: 0;
}